
  /* score progress bar */
  
  .score {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  
  }

  .animation-container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 180px;
    height: 180px;
    justify-content: center;
  }

  
  .outer {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 1px rgba(250, 249, 249, 0.89),
    -1px -1px 1px 1px rgba(252, 252, 252, 0.918);
  }
  
  
  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 1px 1px rgba(255, 255, 255, 0.791),
    -1px -1px 1px rgba(255, 255, 255, 1),
    0px 1px 1px 1px rgb(255, 255, 255);
  }
  
  svg {
    position: absolute;
  
  }
  
  #circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    animation: anim ease 2s;
  }
  
  /* animate the strokedashoffset using js variable from scoreanim component */
  
  @keyframes  anim {
    0% {
        stroke-dashoffset: 472;
    } 100% {
        stroke-dashoffset: var(strokeDashoffset);
    }
  }