 /* heading styling */
  
 h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;

  }

  /* paragraph styling */

  p {
    width: 95%;
    font-size: 1.3em;
    line-height: 1.8rem;
    text-align: center;

  }