html {
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  body {
    overflow: hidden;
    background-color: #1f1f1f;
  }
  
  /* layout */
  
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    
  }
  
  .quiz-container {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
  }
  
  /* flexbox for question and play button */ 
  
  .question-container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: .5em;
  }
  
  /* heading styling */
  
  h1 {
    color: #16389e;
    text-align: center;
    
  }
  
  /* buttons */
  
  button {
    margin: .3rem;
    width: 20em;
    height: 3em;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button:active {
    background-color: rgb(145, 125, 181);
  }
  
  
  .restart-bttn {
    background-color: rgb(86, 145, 100);
    
  }
  
  .play-bttn {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: transparent;
  
  }
  
  .play-bttn-icon {
    width: 44px;
    height: 44px;
    color: #0026ff;
  }
  
  
  .start-bttn {
    background-color: #8fa4e4;
    color: rgb(255, 255, 255);
  }
  
  .start-bttn:hover {
    background-color: rgb(78, 164, 135);
  }
  
  /* score progress bar */
  
  .score {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    padding: 1rem;
  
  }
  
  .animation-container {
    display: flex;
    padding: 0;
    margin: 0;
    width: 180px;
    height: 180px;
    justify-content: center;
  }
  
  .outer {
    box-sizing: border-box;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.15),
    -5px -5px 10px 2px rgba(255,255,255, 0.15);
  }
  
  
  .inner {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 3px 3px 5px 1px rgba(0, 0, 0, 0.2),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0px 10px 5px 5px rgba(0, 0, 0, 0.05);
  }
  
  svg {
    position: absolute;
  
  }
  
  #circle {
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    animation: anim ease 2s;
  }
  
  /* animate the strokedashoffset using js variable from scoreanim component */
  
  @keyframes  anim {
    0% {
        stroke-dashoffset: 472;
    } 100% {
        stroke-dashoffset: var(strokeDashoffset);
    }
  }

  /* change sizes for mobile devices;
     update button sizes and button font for mobile devices ;
     change layout of scoreanim component for landscape mode on mobile*/*/
  
  @media only screen and (max-width: 400px) and (orientation: portrait) {
    h1 {
        font-size: 26px;
  
    }
    button {
        width: 10rem;
        height: 4rem;
        font-size: 16px;
        background-color: #8fa4e4;
        color: #fff;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .quiz-container {
        width: 80vw;
        height: 60vh;
        padding: 0;
        margin: 0;
    }
    .question-container {
        display: flex;
        flex-wrap: wrap;
        padding: .5em;
    }
  }
  
  @media (max-width: 844px) and (max-height: 390 ) and (orientation: landscape) {
    h1 {
        font-size: 20px;
  
    }
    button {
        width: 10rem;
        height: 3rem;
        font-size: 12px;
    }
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .quiz-container {
        height: 70vh;
        padding: 0;
        margin: 0;
    }
    .question-container {
        display: flex;
        flex-wrap: wrap;
        padding: .5em;
    }
    .results-container {
        display: flex;
        flex-direction: row;
    }
  }
  